<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355805606648-cr7sgvkvb20enkrc0jngoif6bo4ntshn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355805606648-cr7sgvkvb20enkrc0jngoif6bo4ntshn</string>
	<key>API_KEY</key>
	<string>AIzaSyBa44_KeHvwyaougdzcFSkR6uYygH06b3U</string>
	<key>GCM_SENDER_ID</key>
	<string>355805606648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChelsiChristmas.Hijack</string>
	<key>PROJECT_ID</key>
	<string>hijack-39170</string>
	<key>STORAGE_BUCKET</key>
	<string>hijack-39170.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355805606648:ios:6657be10421ad4f704010d</string>
	<key>DATABASE_URL</key>
	<string>https://hijack-39170.firebaseio.com</string>
</dict>
</plist>